{% extends "base.html" %}
{% block content %}

	<nav class="navbar navbar-light" style="background-color: #a533ff;">
		<a class="navbar-brand" href="/"><span><font size="8" color="white">Register2</font></span></a>
	</nav>

<div class="container page-form">
    <form id="login-form" action="/auth/register" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label for="first_name">First name</label>
            <input type="text" id="first_name" class="form-control" name="first_name">
        </div>
        <div class="form-group">
            <label for="last_name">Last name</label>
            <input type="text" id="last_name" class="form-control" name="last_name">
        </div>
        <button type="submit" class="btn btn-success">Sign up</button>
    </form>
</div>
{% endblock %}